<!DOCTYPE html>
<html ng-app="trabfinalApp"> 
    <head>
        <title> Trabalho Final DM104 </title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="css/style.css"/>
        <link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.css"/>
        <script src="node_modules/angular/angular.min.js"></script>
        <script src="node_modules/angular-resource/angular-resource.min.js"></script>
        <script type="text/javascript" src="js/scriptclientes.js"></script>    

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    </head>

    <body ng-controller="clienteController">

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Trabalho Final DM104</a>
                </div>
                 <ul class="nav navbar-nav">
                    <li><a href="index.html">Principal</a></li>
                    <li class="active"><a href="cliente.html">Controle de Clientes</a></li>
                    <li><a href="filmes.html">Controle de Filmes</a></li>
                    <li><a href="vendas.html">Controle de Vendas</a></li>
                    <li><a href="relatorio.html">Relatório</a></li>
                </ul>
            </div>
        </nav>

        <div class="container" ng-init="getClientes()">
            <form class="well form-horizontal" action=" " method="post"  id="">
               
                <fieldset>

                    <!-- Form Name -->
                    <legend>Cadastro de Clientes</legend>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label">Nome do Cliente</label>  
                        <div class="col-md-4 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input name="first_name" placeholder="Insira o nome do cliente" class="form-control" 
                                    type="text" ng-model="cliente.Nome">
                            </div>
                        </div>
                    </div>    
                    <!-- Button -->
                    <div class="form-group">                   
                        <label class="col-md-4 control-label"></label>
                        
                            <button type="submit" class="btn btn-warning" ng-click="addCliente()" >
                                Enviar cadastro do cliente
                                <span class="glyphicon glyphicon-send"></span>
                            </button>
                
                            <button type="submit" class="btn btn-danger" ng-click="limpaCliente()" >
                                Limpa campos
                                <span class="glyphicon glyphicon-minus"></span>
                            </button>
                                            
                    </div>
                </fieldset>
            </form>
       
            <div class="well form-horizontal" >

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nome do Cliente</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="cliente in clientes">
                            <th scope="row">  {{ cliente.idCliente }}</th>
                            <td> {{ cliente.Nome  }} </td>
                            <td> 
                                <button type="button" class="btn btn-info " data-toggle="modal" 
                                    data-target="#myModal" ng-click="editaCliente(cliente)">Editar
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                        
                                <button type="submit" class="btn btn-danger" ng-click="deleteCliente(cliente.idCliente)" >
                                    Excluir 
                                    <span class="glyphicon glyphicon-minus"></span>
                                </button>
                            </td>

                        </tr>
                        
                    </tbody>
                </table>

            <div>
        </div>


        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog" >
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Atualização do Cliente</h4>
                    </div>
                    <div class="modal-body">
                        Nome do Cliente
                        <input name="first_name" placeholder="Insira o nome do cliente" 
                               class="form-control" type="text" ng-model="cliente.Nome">

                        <button type="submit" class="btn btn-warning" data-dismiss="modal" 
                                ng-click="salvaEditCliente()" >
                            Atualizar Cliente
                            <span class="glyphicon glyphicon-send"></span>
                        </button>
                                
                    </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" 
                            data-dismiss="modal" ng-click="getClientes()">Cancela</button>
                </div>
            </div>
        </div>

    </body>

</html>